# FOLDERS ======================================================================

node_modules/
.claude/
completions/
docs/
logs/
dist/
.git/
.ignore
.vscode
.claude

# FILES ========================================================================

CLAUDE.md
